
html {
   font-size: 10px;
}

@media only screen and (max-width:400px) {
   html {
      font-size: 9.375px;
   }

}

html, body {
   height: 100%;
}

body {
   background: #19191b;
   font-family: "metropolis-regular", sans-serif;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: normal;
   line-height: 1.875;
   color: #656565;
   margin: 0;
   padding: 0;
}


/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: "librebaskerville-bold", serif;
   color: #000000;
   font-style: normal;
   font-weight: normal;
   text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
   margin-top: 6rem;
   margin-bottom: 1.8rem;
}

@media only screen and (max-width:600px) {
   h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
      margin-top: 5.1rem;
   }

}

h5, .h5, h6, .h6 {
   margin-top: 4.2rem;
   margin-bottom: 1.5rem;
}

@media only screen and (max-width:600px) {
   h5, .h5, h6, .h6 {
      margin-top: 3.6rem;
      margin-bottom: 0.9rem;
   }

}

h1, .h1 {
   font-size: 3.6rem;
   line-height: 1.25;
   letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {
   h1, .h1 {
      font-size: 3.3rem;
      letter-spacing: -.07rem;
   }

}

h2, .h2 {
   font-size: 3rem;
   line-height: 1.3;
}

@media only screen and (max-width:600px) {
   h2, .h2 {
      font-size: 2.8rem;
   }

}

h3, .h3 {
   font-size: 2.4rem;
   line-height: 1.25;
}

h4, .h4 {
   font-size: 2.1rem;
   line-height: 1.286;
}

h5, .h5 {
   font-size: 1.6rem;
   line-height: 1.313;
}

h6, .h6 {
   font-size: 1.3rem;
   line-height: 1.385;
   text-transform: uppercase;
   letter-spacing: .16rem;
}

p img {
   margin: 0;
}

p.lead {
   font-family: "metropolis-medium", sans-serif;
   font-size: 2rem;
   line-height: 1.8;
   margin-bottom: 3.6rem;
   color: #000000;
}



/* ------------------------------------------------------------------- 
 * ## spacing 
 * ------------------------------------------------------------------- */
button, .btn {
   margin-bottom: 1.2rem;
}

fieldset {
   margin-bottom: 1.5rem;
}

input,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.cl-custom-select {
   margin-bottom: 3rem;
}


/* ------------------------------------------------------------------- 
 * ## pace.js styles - minimal
 * ------------------------------------------------------------------- */
.pace {
   -webkit-pointer-events: none;
   pointer-events: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

.pace-inactive {
   display: none;
}

.pace .pace-progress {
   background: #FFFFFF;
   position: fixed;
   z-index: 900;
   top: 0;
   right: 100%;
   width: 100%;
   height: 4px;
}

.oldie .pace {
   display: none;
}



/* ===================================================================
 * # preloader (line scale)
 *
 * ------------------------------------------------------------------- */
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #050505;
   z-index: 800;
   height: 100%;
   width: 100%;
   display: table;
}

.no-js #preloader, .oldie #preloader {
   display: none;
}

#loader {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.line-scale > div:nth-child(1) {
   -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
   animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(2) {
   -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
   animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(3) {
   -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
   animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(4) {
   -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
   animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(5) {
   -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
   animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div {
   background-color: #fff;
   width: 4px;
   height: 35px;
   border-radius: 2px;
   margin: 2px;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   display: inline-block;
}

@-webkit-keyframes line-scale {
   0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

   50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
   }

   100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

}

@keyframes line-scale {
   0% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

   50% {
      -webkit-transform: scaley(0.4);
      transform: scaley(0.4);
   }

   100% {
      -webkit-transform: scaley(1);
      transform: scaley(1);
   }

}



/* ===================================================================
 * # forms
 *
 * ------------------------------------------------------------------- */
fieldset {
   border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select {
   display: block;
   height: 6rem;
   padding: 1.5rem 0;
   border: 0;
   outline: none;
   color: #151515;
   font-family: "metropolis-regular", sans-serif;
   font-size: 1.6rem;
   line-height: 3rem;
   max-width: 100%;
   background: transparent;
   border-bottom: 2px solid rgba(0, 0, 0, 0.5);
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.cl-custom-select {
   position: relative;
   padding: 0;
}

.cl-custom-select select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   appearance: none;
   text-indent: 0.01px;
   text-overflow: '';
   margin: 0;
   line-height: 3rem;
   vertical-align: middle;
}

.cl-custom-select select option {
   padding-left: 2rem;
   padding-right: 2rem;
}

.cl-custom-select select::-ms-expand {
   display: none;
}

.cl-custom-select::after {
   border-bottom: 2px solid rgba(0, 0, 0, 0.5);
   border-right: 2px solid rgba(0, 0, 0, 0.5);
   content: '';
   display: block;
   height: 8px;
   width: 8px;
   margin-top: -7px;
   pointer-events: none;
   position: absolute;
   right: 2.4rem;
   top: 50%;
   -webkit-transform-origin: 66% 66%;
   -ms-transform-origin: 66% 66%;
   transform-origin: 66% 66%;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transition: all 0.15s ease-in-out;
   transition: all 0.15s ease-in-out;
}

/* IE9 and below */
.oldie .cl-custom-select::after {
   display: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
   color: #0054a5;
   border-bottom: 2px solid #0054a5;
}

label, legend {
   font-family: "metropolis-regular", sans-serif;
   font-size: 1.4rem;
   font-weight: bold;
   margin-bottom: .9rem;
   line-height: 1.714;
   color: #000000;
   display: block;
}

input[type="checkbox"], input[type="radio"] {
   display: inline;
}

label > .label-text {
   display: inline-block;
   margin-left: 1rem;
   font-family: "librebaskerville-regular", serif;
   font-weight: normal;
   line-height: inherit;
}

label > input[type="checkbox"], label > input[type="radio"] {
   margin: 0;
   position: relative;
   top: .15rem;
}


/* ------------------------------------------------------------------- 
 * ## Style Placeholder Text
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
   color: #6d6d6d;
}

:-moz-placeholder {
   color: #6d6d6d;  /* Firefox 18- */
}

::-moz-placeholder {
   color: #6d6d6d;  /* Firefox 19+ */
}

:-ms-input-placeholder {
   color: #6d6d6d;
}

.placeholder {
   color: #6d6d6d !important;
}


/* ------------------------------------------------------------------- 
 * ## Change Autocomplete styles in Chrome
 * ------------------------------------------------------------------- */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus
input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
   -webkit-text-fill-color: #0054a5;
   transition: background-color 5000s ease-in-out 0s;
}



/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   display: inline-block;
   font-family: "metropolis-bold", sans-serif;
   font-size: 1.2rem;
   text-transform: uppercase;
   letter-spacing: .3rem;
   height: 5.4rem;
   line-height: 5rem;
   padding: 0 3rem;
   margin: 0 .3rem 1.2rem 0;
   color: #000000;
   text-decoration: none;
   text-align: center;
   white-space: nowrap;
   border-radius: 3px;
   cursor: pointer;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #c5c5c5;
   border: .2rem solid #c5c5c5;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   background-color: #b8b8b8;
   border-color: #b8b8b8;
   color: #000000;
   outline: 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
   background: #000000;
   border-color: #000000;
   color: #FFFFFF;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
   background: #0054a5;
   border-color: #0054a5;
}

/* button modifiers
 * ------------------------------------------------- */
.btn.full-width, button.full-width {
   width: 100%;
   margin-right: 0;
}

.btn--medium, button.btn--medium {
   height: 5.7rem !important;
   line-height: 5.3rem !important;
}

.btn--large, button.btn--large {
   height: 6rem !important;
   line-height: 5.6rem !important;
}

.btn--stroke, button.btn--stroke {
   background: transparent !important;
   border: 0.2rem solid #000000;
   color: #000000;
}

.btn--stroke:hover, button.btn--stroke:hover {
   border: 0.2rem solid #0054a5;
   color: #0054a5;
}

.btn--pill, button.btn--pill {
   padding-left: 3rem !important;
   padding-right: 3rem !important;
   border-radius: 1000px !important;
}

button::-moz-focus-inner, input::-moz-focus-inner {
   border: 0;
   padding: 0;
}



/* ------------------------------------------------------------------- 
 * ## masonry entries 
 * ------------------------------------------------------------------- */
.masonry .entry {
   margin-bottom: 40px;
}

.masonry .entry__thumb, .masonry .entry__text {
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.masonry .entry__thumb {
   position: relative;
   overflow: hidden;
}

.masonry .entry__thumb-link img {
   vertical-align: bottom;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.masonry .entry__thumb-link::before {
   content: "";
   display: block;
   background: rgba(0, 0, 0, 0.8);
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   z-index: 1;
}

.masonry .entry__thumb-link::after {
   content: "...";
   font-family: georgia, serif;
   font-size: 2.7rem;
   z-index: 1;
   display: block;
   height: 90px;
   width: 90px;
   letter-spacing: -1px;
   line-height: 90px;
   margin-left: -45px;
   margin-top: -45px;
   position: absolute;
   left: 50%;
   top: 50%;
   text-align: center;
   color: #FFFFFF;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
}

.masonry .entry__thumb:hover .entry__thumb-link::before {
   opacity: 1;
   visibility: visible;
}

.masonry .entry__thumb:hover .entry__thumb-link::after {
   opacity: 1;
   visibility: visible;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

.masonry .entry__thumb:hover .entry__thumb-link img {
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
}

.masonry .entry__text {
   padding: 3rem 2.8rem 3.6rem;
   background-color: #FFFFFF;
}

.masonry .entry__title {
   font-size: 2.4rem;
   line-height: 1.375;
   margin-top: 0;
   margin-bottom: 2.1rem;
}

.masonry .entry__title a {
   color: #000000;
   border-bottom: 1px solid transparent;
}

.masonry .entry__title a:hover, .masonry .entry__title a:focus {
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.masonry .entry__date {
   font-family: "metropolis-medium", sans-serif;
   font-size: 1.4rem;
   line-height: 1.714;
   margin-bottom: .6rem;
}

.masonry .entry__date a {
   color: #858585;
}

.masonry .entry__excerpt {
   font-size: 1.5rem;
   line-height: 1.8;
}

.masonry .entry__meta {
   font-family: "metropolis-semibold", sans-serif;
   font-size: 1.5rem;
   margin-bottom: 0;
}

.masonry .entry__meta a {
   color: #0054a5;
}

.masonry .entry__meta a:hover, .masonry .entry__meta a:focus {
   color: #000000;
}

.masonry .entry__meta-links a::after {
   content: ", ";
}

.masonry .entry__meta-links a:last-child::after {
   display: none;
}


/* ------------------------------------------------------------------- 
 *  ## post formats - masonry view
 * ------------------------------------------------------------------- */

/* format quote & format link
 * --------------------------------------- */
.format-quote, .format-link {
   text-align: center;
}

.format-quote .entry__thumb,
.format-link .entry__thumb {
   display: table;
   background: #FFFFFF;
   padding: 2.4rem 3rem 4.8rem;
   min-height: 324px;
   width: 100%;
   position: relative;
}

.format-quote .entry__thumb::before,
.format-link .entry__thumb::before {
   content: "";
   display: block;
   height: 3.6rem;
   width: 3.6rem;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   opacity: .2;
   margin-bottom: 1.5rem;
   position: absolute;
   top: 3.3rem;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.format-quote blockquote::before {
   display: none;
}

.format-quote blockquote, .format-link .link-wrap {
   display: table-cell;
   margin: 0;
   padding-left: 0;
   vertical-align: middle;
}

.format-quote blockquote p, .format-link .link-wrap p {
   font-family: "librebaskerville-bold", serif;
   color: #000000;
   padding: 7.8rem 0 0 0;
   margin-bottom: 3.3rem;
   font-size: 2.4rem;
   line-height: 1.625;
}

.format-quote cite, .format-link cite {
   display: block;
   font-family: "metropolis-regular", sans-serif;
   font-size: 1.5rem;
   font-style: normal;
   line-height: 1.6;
   color: #999999;
}

.format-quote cite::before,
.format-link cite::before {
   display: none;
}

.format-quote cite a,
.format-quote cite a:visited {
   color: #999999;
   border: none;
}

.format-quote .entry__thumb::before {
   background-image: url(../images/icons/icon-quote.svg);
}

.format-link .entry__thumb::before {
   background-image: url(../images/icons/icon-link.svg);
   width: 3.3rem;
}

.format-link .link-wrap cite:before {
   display: none;
}

.format-link .link-wrap cite a,
.format-link .link-wrap cite a:visited {
   color: #999999;
   display: inline-block;
   padding-bottom: .3rem;
}

.format-link .link-wrap cite a:hover,
.format-link .link-wrap cite a:focus {
   color: #000000;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



/* animate .featured
 * ------------------------------------------------------------------- */
html.cl-preload .featured {
   opacity: 0;
}

html.cl-loaded .featured {
   animation-duration: 2s;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

html.no-csstransitions .featured {
   opacity: 1;
}


/* ------------------------------------------------------------------- 
 * ## feature section animation
 * ------------------------------------------------------------------- */

/* fade in */
@-webkit-keyframes fadeIn {
   from {
      opacity: 0;
      -webkit-transform: translate3d(0, 150%, 0);
      -ms-transform: translate3d(0, 150%, 0);
      transform: translate3d(0, 150%, 0);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

}

@keyframes fadeIn {
   from {
      opacity: 0;
      -webkit-transform: translate3d(0, 150%, 0);
      -ms-transform: translate3d(0, 150%, 0);
      transform: translate3d(0, 150%, 0);
   }

   to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

}

/* fade out */
@-webkit-keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(0, -150%, 0);
      -ms-transform: translate3d(0, -150%, 0);
      transform: translate3d(0, -150%, 0);
   }

}

@keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      -webkit-transform: translate3d(0, -150%, 0);
      -ms-transform: translate3d(0, -150%, 0);
      transform: translate3d(0, -150%, 0);
   }

}




/* -------------------------------------------------------------------
 * ## masonry layout
 * ------------------------------------------------------------------- */
.masonry-wrap {
   max-width: none;
   width: auto;
   overflow: hidden;
}

.masonry {
   margin-bottom: 3rem;
}

.masonry:after {
   content: "";
   display: table;
   clear: both;
}

.masonry .grid-sizer, .masonry__brick {
    width: auto;
    /* max-width: 370px;
    width: auto;
    min-width: 370px; */
   /* margin-right: 5px; */
}

.masonry__brick {
    width: 53vh;
   float: left;
   padding: 0 20px;
}
